---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import ContentMedia from '../components/ContentMedia.astro'
import PointCloudRenderer from '../components/PointCloudRenderer.jsx';
import DragAndDrop from '../components/DragAndDrop.jsx';
import Textstyle from '../components/textstyle.astro';
---

<DefaultLayout title="PointCloud">
  <Hero />
  <!-- Add the Drag and Drop Component Section Here -->
  <div id="upload" class="container"></div>
    <Textstyle title="Upload Your Images"/>
  </div>
  <div class="upload-instructions" style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;  margin-bottom: 20px">
    <p>Multiple views are needed for triangulation - Upload at least 2 images</p>
  </div>
  <DragAndDrop client:only="react" />
  <section class="my-64">
    <div id ="features" class="container">
      <Textstyle title="Examples"/>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <PointCloudRenderer 
        glbPath="/models/scene1.glb"
        title="Living Room" 
        description="Size : 8.6 MB"
        client:only="react" 
      />
      <PointCloudRenderer 
      glbPath="/models/scene2.glb"
      title="Living Room" 
      description="Size : 8.2 MB"
      client:only="react" 
    />
    <PointCloudRenderer 
    glbPath="/models/scene3.glb"
    title="Living Room" 
    description="Size : 7.7 MB"
    client:only="react" 
  />
    <PointCloudRenderer 
    glbPath="/models/scene4.glb"
    title="Personal Room" 
    description="Size : 8.8 MB"
    client:only="react" 
  />
    <PointCloudRenderer 
    glbPath="/models/scene5.glb"
    title="Living Room" 
    description="Size : 8.0 MB"
    client:only="react" 
    />
    <PointCloudRenderer 
    glbPath="/models/scene6.glb"
    title="Living Room" 
    description="Size : 8.2 MB"
    client:only="react" 
    />
      </div>
    </div>
  </section>
  {/* <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Compact 3D Models</h2>
    <p class="text-2xl">
      Get a full 3D view of your space without the bulk — it’s fast, efficient, and perfect for seamless sharing with clients or friends. Simplify your workflow and experience your space in 3D today!
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>Experience Your Space in a New Dimension</h2>
    <p class="text-2xl">
      With the 3D point cloud, you don’t just look at a series of images — you get a fully interactive view of the room. It’s a smarter, more efficient way to share room designs or floor plans.
    </p>
  </ContentMedia>*/}
</DefaultLayout>
