---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import ContentMedia from '../components/ContentMedia.astro'
import PointCloudRenderer from '../components/PointCloudRenderer.jsx';
import DragAndDrop from '../components/DragAndDrop.jsx';
import Textstyle from '../components/textstyle.astro';
---

<DefaultLayout title="PointCloud">
  <Hero />
    <!-- YouTube Video Embed Section -->
  <div id="video" class="container"></div>
    <Textstyle title="How it works"/>
  </div>
    <div class="video-container" style="display: flex; justify-content: center; align-items: center; margin: 20px 0 60px;">
      <iframe 
        width="800" 
        height="450" 
        src="https://www.youtube.com/embed/qkPsr_t95EE?si=_xNgm1ProEzq0GFC" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
      </iframe>
    </div>
    
    
  <!-- Add the Drag and Drop Component Section Here -->
  <div id="upload" class="container"></div>
    <Textstyle title="Upload Your Images"/>
  </div>
  <div class="upload-instructions" style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;  margin-bottom: 10px">
    <p>Multiple views are needed for triangulation - Upload at least 2 images</p>
  </div>
  <DragAndDrop client:only="react" />
  <section class="my-64">
    <div id ="features" class="container">
      <Textstyle title="Examples"/>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <PointCloudRenderer 
        glbPath="/models/scene1.glb"
        title="Living Room" 
        description="Size : 8.6 MB"
        client:only="react" 
      />
      <PointCloudRenderer 
      glbPath="/models/scene2.glb"
      title="Living Room" 
      description="Size : 8.2 MB"
      client:only="react" 
    />
    <PointCloudRenderer 
    glbPath="/models/scene3.glb"
    title="Living Room" 
    description="Size : 7.7 MB"
    client:only="react" 
  />
    <PointCloudRenderer 
    glbPath="/models/scene4.glb"
    title="Personal Room" 
    description="Size : 8.8 MB"
    client:only="react" 
  />
    <PointCloudRenderer 
    glbPath="/models/scene5.glb"
    title="Living Room" 
    description="Size : 8.0 MB"
    client:only="react" 
    />
    <PointCloudRenderer 
    glbPath="/models/scene6.glb"
    title="Living Room" 
    description="Size : 8.2 MB"
    client:only="react" 
    />
      </div>
    </div>
  </section>
  <div class="bottom-text" style="text-align: center; margin-top: 40px; font-size: 1.2rem; line-height: 1.8;">
    <p>
      Want more than Point Cloud? Check out our High Fidelity Reconstructor
      <a href="https://3d-ready.com" target="_blank" style="color: #007BFF; text-decoration: underline;">3D-Ready</a>
    </p>
  </div>

</DefaultLayout>
