---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        Forget the hassle of managing multiple photos, and experience the power of 3D visualization with just a few clicks.
      </p>
      <!-- <p>
        &copy; {currentYear} - Theme <a href="https://astro.build/">Astro</a>. Made with ❤️ by <a
          href="https://msam13.github.io/">Samridha Murali</a
        >.
      </p> -->
    </div>
  </section>
</footer>
